
      <div class="breadcrumb-section">
          <div class="container">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Introduce</li>
                  </ol>
              </nav>
          </div>
      </div>
      <!-- breadcrumb section end -->
          <a href="#" class="totop"><i class="fa fa-chevron-up"></i></a>
          <section class="introduce">
              <div class="container">
                  <div class="row intro-top">
                      <div class="col-lg 4">
                          <img src="assets/images/intro-top.png" alt="" id="intro-top-img">
                      </div>
                      <div class="col-lg-8 intro-content">
                          <div class="intro-tit">
                              <h2>we are <span>harvel electric</span></h2>
                              <h6><small>friend of every family</small></h6>
                          </div>
                          <div class="intro-text">
                              <h5> Welcome to Harvel Electric!</h5>
                              <br>
                              <p>We <strong>aim to </strong>offer our customers a variety of the latest electrical products such as Fans, Water Heater, Appliances and Lightning.
                                  We’ve come a long way, so we know exactly which direction to take when supplying
                                  you with high quality yet budget-friendly products. We offer all of this while
                                  providing excellent customer service and friendly support.
                              </p>
                              <p>We always <strong>keep an eye</strong> on the latest trends in electrical products and put our customers’ wishes first.
                                  That is why we have satisfied customers all over the world, and are thrilled to be a part of the
                                  electronic industry.</p>
                              <p>The interests of our customers are always top priority for us, so we hope you will enjoy our products as much as we enjoy making them available to you.</p>
                          </div>
                      </div>
                  </div>
                  <div class="row leadership">
                      <div class="col-lg-7 lead-content">
                          <div class="lead-tit">
                              <h2>Meet Our <span>Leadership</span></h2>
                          </div>
                          <div class="lead-block">
                              <figure>
                                  <img src="assets/images/nguyencongluat.jpg" alt="" width="260px" height="259">
                                  <figcaption>
                                      <h4>Nguyen Công Luật</h4>
                                      <p id="position">Co-Founder & CEO</p>
                                  </figcaption>
                              </figure>
                              <div class="lead-divider">
                              </div>
                              <div class="lead-intro">
                                  <p>Drives strategic vision and manages investor relations.</p>
                              </div>

                          </div>
                          <div class="lead-block">
                              <figure>
                                  <img src="assets/images/CEO.jpg" alt="">
                                  <figcaption>
                                      <h4>Nguyễn Hoàng Hiệp</h4>
                                      <p id="position">Co-Founder & COO</p>
                                  </figcaption>
                              </figure>
                              <div class="lead-divider">
                              </div>
                              <div class="lead-intro">
                                  <p>Leads daily operations at Harvel Electric, including product development and global sales.</p>
                              </div>
                          </div>
                          <div class="lead-block">
                            <figure>
                                <img src="assets/images/doquangvinh.PNG" alt="" width="260px" height="259">
                                <figcaption>
                                    <h4>Đỗ Quang Vinh</h4>
                                    <p id="position">Co-Founder & CEO</p>
                                </figcaption>
                            </figure>
                            <div class="lead-divider">
                            </div>
                            <div class="lead-intro">
                                <p>Drives strategic vision and manages investor relations.</p>
                            </div>

                        </div>
                        <div class="lead-block">
                          <figure>
                              <img src="assets/images/dieu.PNG" alt="" width="260px" height="259">
                              <figcaption>
                                  <h4>Vũ Văn Diệu</h4>
                                  <p id="position">Co-Founder & CEO</p>
                              </figcaption>
                          </figure>
                          <div class="lead-divider">
                          </div>
                          <div class="lead-intro">
                              <p>Drives strategic vision and manages investor relations.</p>
                          </div>

                      </div>
                      </div>
                  </div>
                  <div class="row work">
                      <div class="col-lg-9 work-content">
                          <div class="work-tit">
                              <h2><span>Come</span> And Let Us Help You To Make Life Better</h2>
                          </div>
                          <div class="work-wrapper">
                              <div class="work-block">
                                  <img src="assets/images/work1.jpg" alt="">
                              </div>
                              <div class="work-block">
                                  <img src="assets/images/work2.jpg" alt="">
                              </div>
                              <div class="work-block">
                                  <img src="assets/images/work4.jpg" alt="">
                              </div>
                              <div class="work-block">
                                  <img src="assets/images/work3.jpg" alt="">
                              </div>
                              <div class="work-block">
                                  <img src="assets/images/work5.jpg" alt="">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <div class="user-benefit">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-4 bnf-block">
                          <img src="assets/images/high-quality-icon.png" alt="" width="100px" height="100px">
                          <h4>high quality</h4>
                      </div>
                      <div class="col-lg-4 bnf-block">
                          <img src="assets/images/return-icon.jpg" alt="" width="100px" height="100px">
                          <h4>easy to return</h4>
                      </div>
                      <div class="col-lg-4 bnf-block">
                          <img src="assets/images/24-7-support-icon.png" alt="" width="100px" height="100px">
                          <h4>24/7 support</h4>
                      </div>
                  </div>
              </div>
          </div>
          <div class="brand">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-2"><img src="assets/images/philips086473574.jpg" alt="" height="40px"></div>
                      <div class="col-lg-2"><img src="assets/images/Panasonic873768367.jpg" alt="" height="40px"></div>
                      <div class="col-lg-2"><img src="assets/images/Mennekes520246502.jpg" alt="" height="40px"></div>
                      <div class="col-lg-2"><img src="assets/images/Cadivi847106821.jpg" alt="" height="40px"></div>
                      <div class="col-lg-2"><img src="assets/images/Paragon760064346.jpg" alt="" height="40px"></div>
                      <div class="col-lg-2"><img src="assets/images/SchneiderElectric412485467.jpg" alt="" height="40px"></div>
                  </div>
              </div>
          </div>

