<div class="wraper">
  <div class="container-fluid">
      <a href="#" class="totop"><i class="fa fa-chevron-up"></i></a>
      <!-- breadcrumb section begin -->
      <div class="breadcrumb-section">
          <div class="container">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="product.html">Product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lightning</li>
                  </ol>
              </nav>
          </div>
      </div>
      <!-- breadcrumb section end -->

      <!-- product begin -->
      <section class="product">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="filter-widget">
                          <h4 class="fw-title">Categories</h4>
                          <ul class="filter-categories">
                              <li><a href="fans.html">Fans</a></li>
                              <li><a href="appliances.html">Appliances</a></li>
                              <li><a href="water-heater.html">Water Heater</a></li>
                              <li><a href="lightning.html" class="disabled">Lightning</a></li>
                          </ul>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Types</h4>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="all" checked>
                              <label class="form-check-label" for="all">
                                All Types
                              </label>
                            </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="indoor">
                              <label class="form-check-label" for="indoor">
                                  Indoor Lightning
                              </label>
                            </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="outdoor">
                              <label class="form-check-label" for="outdoor">
                                  Outdoor Lightning
                              </label>
                          </div>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Brand</h4>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-edenki">
                              <label for="bc-edenki">Edenki</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-panasonic">
                              <label for="bc-panasonic">Panasonic</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-simon">
                              <label for="bc-simon">Simon</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-schneider">
                              <label for="bc-schneider">Schneider</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-legrand">
                              <label for="bc-legrand">Legrand</label>
                          </div>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Price</h4>
                          <div class="min-price">
                              <input type="number" min="0" placeholder="Min" name="min-price-input">
                          </div>
                          <div class="max-price">
                              <input type="number" min="0" placeholder="Max" name="max-price-input">
                          </div>
                          <div class="currency-unit">$</div>
                          <button type="button" id="filter-btn" class="btn btn-success">Filter</button>
                      </div>
                  </div>
                  <div class="col-lg-9">
                      <div class="page-title">
                          <h4>Lightning</h4>
                      </div>
                      <div class="row">
                          <div class="col-lg-7">
                              <select class="price-sorting">
                                  <option value="df" selected>Default Sorting</option>
                                  <option value="lth">Price low to high</option>
                                  <option value="htl">Price hight to low</option>
                              </select>
                              <select class="show">
                                  <option value="">Show: 09</option>
                              </select>
                          </div>
                          <div class="col-lg-5 show-text">
                              <p>Show 01 - 09 of 45 Products</p>
                          </div>
                      </div>
                      <div class="row product-list">
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-1.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">30W DUHAL SBNL530 LED bulb</p>

                                          <span id="pro-price">$7.2</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-2.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Mijia energy-saving LED bulb</p>

                                          <span id="pro-price">$3.8</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-3.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Led bulb MPE LBD-3V 3W</p>

                                          <span id="pro-price">$1.5</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-4.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">L66 100W E27 L66 LED BALL</p>

                                          <span id="pro-price">$45.238</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-5.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Led 135W</p>

                                          <span id="pro-price">$15.33</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-6.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Led 5W</p>

                                          <span id="pro-price">$0.71</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-7.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">9W TXA288 U-shaped LED bulb</p>

                                          <span id="pro-price">$2.619</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-8.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Led bulb MPE LB-12V 12W</p>

                                          <span id="pro-price">$4.5</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/Light-9.png" height="240" width="269"/>
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">LED bulb with Wifi connection Philips crystal E14 3.5W</p>

                                          <span id="pro-price">$11.428</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                      </div>
                      <a href="#" class="product-lm"><span>LOAD MORE</span></a>
                  </div>
              </div>
          </div>
      </section>
      <hr>
      <!-- product end  -->

      <div class="user-benefit">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/high-quality-icon.png" alt="" width="100px" height="100px">
                      <h4>high quality</h4>
                  </div>
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/return-icon.jpg" alt="" width="100px" height="100px">
                      <h4>easy to return</h4>
                  </div>
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/24-7-support-icon.png" alt="" width="100px" height="100px">
                      <h4>24/7 support</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="brand">
          <div class="container">
              <div class="row">
                  <div class="col-lg-2"><img src="assets/images/philips086473574.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Panasonic873768367.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Mennekes520246502.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Cadivi847106821.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Paragon760064346.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/SchneiderElectric412485467.jpg" alt="" height="40px"></div>
              </div>
          </div>
      </div>
  </div>
</div>
