<div class="wraper">
  <div class="container-fluid">
      <a href="#" class="totop"><i class="fa fa-chevron-up"></i></a>
      <!-- breadcrumb section begin -->
      <div class="breadcrumb-section">
          <div class="container">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="product.html">Product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Fans</li>
                  </ol>
              </nav>
          </div>
      </div>
      <!-- breadcrumb section end -->

      <!-- product begin -->
      <section class="product">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="filter-widget">
                          <h4 class="fw-title">Categories</h4>
                          <ul class="filter-categories">
                              <li><a href="fans.html" class="disabled">Fans</a></li>
                              <li><a href="appliances.html">Appliances</a></li>
                              <li><a href="water-heater.html">Water Heater</a></li>
                              <li><a href="lightning.html">Lightning</a></li>
                          </ul>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Types</h4>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="all" checked>
                              <label class="form-check-label" for="all">
                                All Types
                              </label>
                            </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="celing">
                              <label class="form-check-label" for="celing">
                                Ceiling Fans
                              </label>
                            </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="table">
                              <label class="form-check-label" for="table">
                                Table Fans
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="air-cooler">
                              <label class="form-check-label" for="air-cooler">
                                Air Cooler Fans
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="stand">
                              <label class="form-check-label" for="stand">
                                Stand Fans
                              </label>
                            </div>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Brand</h4>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-edenki">
                              <label for="bc-edenki">Edenki</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-panasonic">
                              <label for="bc-panasonic">Panasonic</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-simon">
                              <label for="bc-simon">Simon</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-schneider">
                              <label for="bc-schneider">Schneider</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-legrand">
                              <label for="bc-legrand">Legrand</label>
                          </div>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Price</h4>
                          <div class="min-price">
                              <input type="number" min="0" placeholder="Min" name="min-price-input">
                          </div>
                          <div class="max-price">
                              <input type="number" min="0" placeholder="Max" name="max-price-input">
                          </div>
                          <div class="currency-unit">$</div>
                          <button type="button" id="filter-btn" class="btn btn-success">Filter</button>
                      </div>
                  </div>
                  <div class="col-lg-9">
                      <div class="page-title">
                          <h4>Fans</h4>
                      </div>
                      <div class="row">
                          <div class="col-lg-7">
                              <select class="price-sorting">
                                  <option value="df" selected>Default Sorting</option>
                                  <option value="lth">Price low to high</option>
                                  <option value="htl">Price hight to low</option>
                              </select>
                              <select class="show">
                                  <option value="">Show: 09</option>
                              </select>
                          </div>
                          <div class="col-lg-5 show-text">
                              <p>Show 01 - 09 of 45 Products</p>
                          </div>
                      </div>
                      <div class="row product-list">
                          <div class="pl-items">
                              <figure>
                                  <a href="product-detail1.html">

                                      <img src="assets/images/toshiba-stand-fan.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="product-detail1.html" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Toshiba Inverter DC F-fan F-LSD10 (W)</p>

                                          <span id="pro-price">$70.00</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/fan-2.png" alt="" >
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Senko LL1338 Mezzanine Fan</p>

                                          <span id="pro-price">$9.00</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/fan-3.png" alt="" >
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Mezzanine fan Electromechanical QDM400ĐB-K</p>

                                          <span id="pro-price">$21.71</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/fan-4.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Electromechanical table fan QB300-D</p>

                                          <span id="pro-price">$28.00</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/fan-5.jpg" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Midea FW40-15VF wall fan</p>

                                          <span id="pro-price">$50.61</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/fan-6.jpg" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Midea Fan Mezzanine FTS40-17VD</p>

                                          <span id="pro-price">$22.08</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/fan-7.jpg" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">5-bladed ceiling fan with Panasonic control F-60TAN</p>

                                          <span id="pro-price">$88.25</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/fan-8.png" alt="" >
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Panasonic F-56XPG-black 4-bladed ceiling fan with controls</p>

                                          <span id="pro-price">$80.55</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/fan-9.png" alt="" >
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Panasonic F-60WWK Ceiling Fan, 5-bladed, controlled</p>

                                          <span id="pro-price">$47.88</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                      </div>
                      <a href="#" class="product-lm"><span>LOAD MORE</span></a>
                  </div>
              </div>
          </div>
      </section>
      <hr>
      <!-- product end  -->

      <div class="user-benefit">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/high-quality-icon.png" alt="" width="100px" height="100px">
                      <h4>high quality</h4>
                  </div>
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/return-icon.jpg" alt="" width="100px" height="100px">
                      <h4>easy to return</h4>
                  </div>
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/24-7-support-icon.png" alt="" width="100px" height="100px">
                      <h4>24/7 support</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="brand">
          <div class="container">
              <div class="row">
                  <div class="col-lg-2"><img src="assets/images/philips086473574.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Panasonic873768367.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Mennekes520246502.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Cadivi847106821.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Paragon760064346.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/SchneiderElectric412485467.jpg" alt="" height="40px"></div>
              </div>
          </div>
      </div>
  </div>
</div>
