<div class="footer">
  <div class="footer-banner">
      <div class="ftbanner-content">
          <div class="container">
              <h3>sign up for newsletter</h3>
              <form class="einput-group" action="#">
                  <input type="email" id="email" placeholder="Enter your email address" required="required">
                  <button type="submit">sign up</button>
              </form>
          </div>
      </div>
  </div>
  <div class="container footer-content">
      <div class="row">
          <div class="col-lg-3 contact-info">
              <h3>contact info</h3>
              <address>No. 08, Ton That Thuyet Street, My Dinh Ward, Tu Liem District, Hanoi City</address>
              <p>If you got questions please mail us at <a href="mailto:harvelelectric@gmail.com">harvelelectric@gmail.com</a>
                  or <a href="tel:0987654321">call us</a> (11:00 am to 7:00 pm)
              </p>
          </div>
          <div class="col-lg-3 find-it-fast">
              <h3>find it fast</h3>
              <ul>
                  <li><a href="fans.html">fans</a></li>
                  <li><a href="appliances.html">appliances</a></li>
                  <li><a href="water-heater.html">water heater</a></li>
                  <li><a href="lightning.html">lightning</a></li>
              </ul>
          </div>
          <div class="col-lg-3 customer-care">
              <h3>customer care</h3>
              <ul>
                  <li><a href="login.html">my account</a></li>
                  <li><a href="shopping-cart.html">shopping cart</a></li>
                  <li><a href="contact.html">contact</a></li>
                  <li><a href="product.html">product</a></li>

              </ul>
          </div>
          <div class="col-lg-3" style="text-align: center">
              <h3>Certified and link</h3>
              <img src="images/fot_chung_nhan.png" alt="">
              <br>
              <a href="#"><img src="images/fot_chung_nhan2.png"></a>
              <div class="link">
                  <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x"></i></a>
                  <a href="https://www.google.com/"><i class="fa fa-google-plus-square fa-3x"></i></a>
                  <a href="https://www.youtube.com/"><i class="fa fa-youtube-square fa-3x"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>
