
<div class="wraper">
  <div class="container-fluid">
      <a href="#" class="totop"><i class="fa fa-chevron-up"></i></a>
      <!-- breadcrumb section begin -->
      <div class="breadcrumb-section">
          <div class="container">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                      <li class="breadcrumb-item " style="color: #FFFFFF" aria-current="page">Pages</li>
                      <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
                  </ol>
              </nav>
          </div>
      </div>
      <!-- breadcrumb section end -->
      <div class="container-fluid" style="background-color: #ECECEC">

          <div class="container" style="width: 40%">
              <div class="yourCart top-content"><a href="#" class="buy-more"><i class="fa fa-chevron-left"></i>  Buy more other products</a><span>Your cart</span></div>
              <div class="middleCart">
                  <ul class="listing-cart">
                      <li class="product-item">
                          <div class="img-product" style="float: left">
                              <a href="#"><img src="assets/images/fan-2.png"></a>
                              <div style="padding-top: 10px"><a href="#"><i class="fa fa-times-circle"></i> Delete </a></div>
                          </div>
                          <div class="infosp">
                              <div class="name-product">
                                  <div class="name-container">
                                      <div style="float: left;width: 70%">
                                          <a href="#" class="product-item_name">Senko LL1338 Mezzanine Fan</a>
                                          <p>Compact design, easy to move the fan's position when using The
                                              fan has a 40cm wide blade span for better cooling
                                              Fan body is made of durable plastic material.</p>
                                      </div>
                                  </div>
                                  <span><i class="fa fa-dollar"></i> 9.00</span>
                              </div>
                              <div class="choose-color">
                                  <div class="choosenumber" >
                                      <div class="minus" style="pointer-events: none;">
                                          <i class="fa fa-minus"></i>
                                      </div>
                                      <div class="number">1</div>
                                      <div class="plus" style="pointer-events: all;"><i class="fa fa-plus"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </li>
<!--                        <hr>-->
                  </ul>
                  <div class="area-total">
                      <div class="total-provisional">
                          <span  class="total-product-quantity">Provisional (1 products):</span>
                          <span  class="temp-total-money">$  9.00</span>
                      </div>
                      <div  class="total-price">
                          <strong>Total money: </strong>
                          <strong>$  9.00</strong>
                      </div>
                  </div>
                  <div class="infor-customer">
                      <h4><i class="fa fa-arrow-circle-o-right"></i> Customer Information</h4>
                      <form class="form-customer" id="form-customer" novalidate="novalidate">
                          <div class="sex-customer">
                              <input type="radio" name="sex" value="1" checked="checked"><span>Male</span>
                              <input type="radio" name="sex" value="1"><span>FeMale</span>
                          </div>
                          <div class="fillinform">
                              <div class="fillname"><input placeholder="Name" maxlength="50" name="name"> </div>
                              <div class="fillname"><input placeholder="Telephone number" type="tel" maxlength="10" name="telephone" pattern="[0-9]{10}"> </div>
                              <div class="fillname"><input placeholder="Delivery address" maxlength="50" name="address"> </div>
                              <div class="fillname"><input placeholder="Customer's request (optional)" type="tel" maxlength="10" class=" "> </div>
                          </div>
                          <div class="anotheroption">
                              <h4><i class="fa fa-arrow-circle-o-right"></i> Choose a form of payment</h4>
                              <ul>
                                  <li>
                                      <label><input type="radio" name="payment" id="normal" checked="checked"  style="width: auto"><span>Cash on delivery</span></label>
                                  </li>
                                  <li>
                                      <label><input type="radio" name="payment"  id="bank"  style="width: auto"><span>Domestic ATM / Internet banking card</span></label>
                                      <div class="gh-se3t1b" id="info-bank" style="display: none" >
                                          <p>Choose your bank type and press the button <strong>Complete</strong></p>
                                          <ul class="gh-se3bank gh-se3vsa clearfix" >
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="PG-BANK" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/PGB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="vietcom-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/VCB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="gp-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/GPB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="vp-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/VPB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="shinhan-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/SHNB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="tp-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/TPB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="shb-BANK" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/SHB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="oc-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/OCB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="Hd-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/HDB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="tech-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/TCB.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="pubvn-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/PBVN.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="mb-bank" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/MB.jpg" alt=""></span></label>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li>
                                      <label><input type="radio" name="payment" id="card"  style="width: auto"><span>Payment by credit card (Visa, MasterCard, JCB)</span></label>
                                      <div class="gh-se3t1b" id="info-card" style="display: none">
                                          <p>Choose your card type and press the button <strong>Complete</strong></p>
                                          <ul class="gh-se3bank gh-se3vsa clearfix" >
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="visa" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/30visa.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="master" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/31master.jpg" alt=""></span></label>
                                              </li>
                                              <li>
                                                  <label><input data-banktype="INT" type="radio" data-name="visa" data-idpos="2" style="display: none" id="jcb" aria-expanded="False" name="ckpopnh" value="Visa"><span><img src="assets/images/32jcb.jpg" alt=""></span></label>
                                              </li>
                                          </ul>
                                      </div>
                                  </li>
                                  <li>
                                      <div><h4><i class="fa fa-arrow-circle-o-right"></i> Invoice to the company</h4></div>
                                      <label ><input type="checkbox" name="info-company" id="info-company" style="width: auto"><span>Invoice to the company</span></label>
                                      <div class="infocompany" style="display: none">
                                          <i class="fa fa-caret-up fa-2x icon-caret"></i>
                                          <div class="fillinput">
                                              <input placeholder="Company name" name="company" maxlength="255"  >
                                          </div>
                                          <div class="fillinput">
                                              <input placeholder="Company address" name="companyAddress" maxlength="255"  >
                                          </div>
                                          <div class="fillinput">
                                              <input placeholder="Tax code" name="taxCode"  >
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                          </div>
                          <div class="finaltotal">
                              <div class="totalmoney">
                                  <strong>Total money:</strong>
                                  <strong>$ 10.00</strong>
                              </div>
                              <button id="btn-complete" type="submit" class=""><b style="text-transform:uppercase">Complete</b></button>
                          </div>
                      </form>
                  </div>

              </div>
          </div>
              <small class="footCart">By placing an order, you agree to Harvel Electric's Terms of Use</small>
              <div class="footer">
                  <div class="footer-banner">
                      <div class="ftbanner-content">
                          <div class="container">
                              <h3>sign up for newsletter</h3>
                              <form class="einput-group" action="#">
                                  <input type="email" id="email" placeholder="Enter your email address" required="required">
                                  <button type="submit">sign up</button>
                              </form>
                          </div>
                      </div>
                  </div>
                  <div class="container footer-content">
                      <div class="row">
                          <div class="col-lg-3 contact-info">
                              <h3>contact info</h3>
                              <address>No. 08, Ton That Thuyet Street, My Dinh Ward, Tu Liem District, Hanoi City</address>
                              <p>If you got questions please mail us at <a href="mailto:harvelelectric@gmail.com">harvelelectric@gmail.com</a>
                                  or <a href="tel:0987654321">call us</a> (11:00 am to 7:00 pm)
                              </p>
                          </div>
                          <div class="col-lg-3 find-it-fast">
                              <h3>find it fast</h3>
                              <ul>
                                  <li><a href="fans.html">fans</a></li>
                                  <li><a href="appliances.html">appliances</a></li>
                                  <li><a href="water-heater.html">water heater</a></li>
                                  <li><a href="lightning.html">lightning</a></li>
                              </ul>
                          </div>
                          <div class="col-lg-3 customer-care">
                              <h3>customer care</h3>
                              <ul>
                                  <li><a href="login.html">my account</a></li>
                                  <li><a href="shopping-cart.html">shopping cart</a></li>
                                  <li><a href="contact.html">contact</a></li>
                                  <li><a href="product.html">product</a></li>

                              </ul>
                          </div>
                          <div class="col-lg-3" style="text-align: center">
                              <h3>Certified and link</h3>
                              <img src="assets/images/fot_chung_nhan.png" alt="">
                              <br>
                              <a href="#"><img src="assets/images/fot_chung_nhan2.png"></a>
                              <div class="link">
                                  <a href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x"></i></a>
                                  <a href="https://www.google.com/"><i class="fa fa-google-plus-square fa-3x"></i></a>
                                  <a href="https://www.youtube.com/"><i class="fa fa-youtube-square fa-3x"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>
</div>
