<div class="wraper">
  <div class="container-fluid">
      <a href="#" class="totop"><i class="fa fa-chevron-up"></i></a>
            <!-- breadcrumb section begin -->
      <div class="breadcrumb-section">
          <div class="container">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                    <li class="breadcrumb-item"><a href="product.html">Product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Water Heater</li>
                  </ol>
              </nav>
          </div>
      </div>
      <!-- breadcrumb section end -->

      <!-- product begin -->
      <section class="product">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">
                      <div class="filter-widget">
                          <h4 class="fw-title">Categories</h4>
                          <ul class="filter-categories">
                              <li><a href="fans.html">Fans</a></li>
                              <li><a href="appliances.html">Appliances</a></li>
                              <li><a href="water-heater.html" class="disabled">Water Heater</a></li>
                              <li><a href="lightning.html">Lightning</a></li>
                          </ul>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Types</h4>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="all" checked>
                              <label class="form-check-label" for="all">
                                All Types
                              </label>
                            </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="direct">
                              <label class="form-check-label" for="direct">
                                  Water Heater Directly
                              </label>
                            </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="types" id="indirect">
                              <label class="form-check-label" for="indirect">
                                  Indirect Hot Water Tank
                              </label>
                          </div>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Brand</h4>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-edenki">
                              <label for="bc-edenki">Edenki</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-panasonic">
                              <label for="bc-panasonic">Panasonic</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-simon">
                              <label for="bc-simon">Simon</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-schneider">
                              <label for="bc-schneider">Schneider</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" value="" id="bc-legrand">
                              <label for="bc-legrand">Legrand</label>
                          </div>
                      </div>
                      <div class="filter-widget">
                          <h4 class="fw-title">Price</h4>
                          <div class="min-price">
                              <input type="number" min="0" placeholder="Min" name="min-price-input">
                          </div>
                          <div class="max-price">
                              <input type="number" min="0" placeholder="Max" name="max-price-input">
                          </div>
                          <div class="currency-unit">$</div>
                          <button type="button" id="filter-btn" class="btn btn-success">Filter</button>
                      </div>
                  </div>
                  <div class="col-lg-9">
                      <div class="page-title">
                          <h4>Water Heater</h4>
                      </div>
                      <div class="row">
                          <div class="col-lg-7">
                              <select class="price-sorting">
                                  <option value="df" selected>Default Sorting</option>
                                  <option value="lth">Price low to high</option>
                                  <option value="htl">Price hight to low</option>
                              </select>
                              <select class="show">
                                  <option value="">Show: 09</option>
                              </select>
                          </div>
                          <div class="col-lg-5 show-text">
                              <p>Show 01 - 09 of 45 Products</p>
                          </div>
                      </div>
                      <div class="row product-list">
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeater-1.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Ferroli Verdi-AE heater</p>

                                          <span id="pro-price">$189.047</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeater-2.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Rossi Pisa heater 30 liter RPS 30SQ</p>

                                          <span id="pro-price">$105.174</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeater-3.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Casper heater SH-20TH11</p>

                                          <span id="pro-price">$123.333</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeater-4.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Rossi Arte RAT15 SL</p>

                                          <span id="pro-price">$169.047</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeater-5.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Rossi R15DI heater</p>

                                          <span id="pro-price">$66.666</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeater-6.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Ariston 20L Slim2 heater</p>

                                          <span id="pro-price">x$147.619</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeater-7.png" alt="">
                                      <div class="item-action">/
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Olympic water heater Vesta</p>

                                          <span id="pro-price">$95.238</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeater-8.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Ariston 30 liter heater AN2 30R AG +</p>

                                          <span id="pro-price">$166.666</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                          <div class="pl-items">
                              <figure>
                                  <a href="">

                                      <img src="assets/images/WaterHeader-9.png" alt="">
                                      <div class="item-action">
                                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                                      </div>
                                      <figcaption>
                                          <p class="text-truncate">Rossi R15 Ti heater - 15 liters</p>

                                          <span id="pro-price">$52.380</span>

                                      </figcaption>
                                  </a>
                              </figure>
                          </div>
                      </div>
                      <a href="#" class="product-lm"><span>LOAD MORE</span></a>
                  </div>
              </div>
          </div>
      </section>
      <hr>
      <!-- product end  -->

      <div class="user-benefit">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/high-quality-icon.png" alt="" width="100px" height="100px">
                      <h4>high quality</h4>
                  </div>
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/return-icon.jpg" alt="" width="100px" height="100px">
                      <h4>easy to return</h4>
                  </div>
                  <div class="col-lg-4 bnf-block">
                      <img src="assets/images/24-7-support-icon.png" alt="" width="100px" height="100px">
                      <h4>24/7 support</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="brand">
          <div class="container">
              <div class="row">
                  <div class="col-lg-2"><img src="assets/images/philips086473574.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Panasonic873768367.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Mennekes520246502.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Cadivi847106821.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/Paragon760064346.jpg" alt="" height="40px"></div>
                  <div class="col-lg-2"><img src="assets/images/SchneiderElectric412485467.jpg" alt="" height="40px"></div>
              </div>
          </div>
      </div>
  </div>
</div>
