<div class="promotion">
  <div class="title">
      <a href="#"><h3>promotion</h3></a>
  </div>
  <div class="container">
      <div class="row pro-slider">
          <div class="col-lg-12 products">
              <figure>

                  <div class="onsale">
                      <span>-10%</span>
                  </div>
                  <img src="images/Promotion1.png" alt="">
                  <div class="item-action">
                      <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                      <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                      <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                  </div>
                  <figcaption>
                      <p class="text-truncate">Light Sensor LED Buld</p>
                      <span id="old-price">$3.66</span>
                      <span id="pro-price">$3.294</span>

                  </figcaption>

              </figure>
          </div>

          <div class="col-lg-12 products">
              <figure>

                  <div class="onsale">
                      <span>-15%</span>
                  </div>
                  <img src="images/Promotion-2.png" alt="">
                  <div class="item-action">
                      <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                      <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                      <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                  </div>
                  <figcaption>
                      <p class="text-truncate">Smart Tivi Samsung 4K 55 inch UA55RU7100</p>
                      <span id="old-price">$523</span>
                      <span id="pro-price">$444.55</span>

                  </figcaption>

              </figure>
          </div>

          <div class="col-lg-12 products">
              <figure>
                  <a href="">
                      <div class="onsale">
                          <span>-20%</span>
                      </div>
                      <img src="images/Promotion-3.png" alt="">
                      <div class="item-action">
                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                      </div>
                      <figcaption>
                          <p class="text-truncate">ANDRIS2 Top WIFI 30L ARISTON</p>
                          <span id="old-price">$286</span>
                          <span id="pro-price">$228.8</span>
                      </figcaption>
                  </a>
              </figure>
          </div>

          <div class="col-lg-12 products">
              <figure>
                  <a href="">
                      <div class="onsale">
                          <span>-10%</span>
                      </div>
                      <img src="images/Promotion-4.png" alt="">
                      <div class="item-action">
                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                      </div>
                      <figcaption>
                          <p class="text-truncate">ROBOT Suction KOWON Dust</p>
                          <span id="old-price">$219</span>
                          <span id="pro-price">$197.1</span>
                      </figcaption>
                  </a>
              </figure>
          </div>

          <div class="col-lg-12 products">
              <figure>
                  <a href="">
                      <div class="onsale">
                          <span>-25%</span>
                      </div>
                      <img src="images/Promotion-5png.png" alt="">
                      <div class="item-action">
                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                      </div>
                      <figcaption>
                          <p class="text-truncate">Refrigerator Family Hub 641L</p>

                          <span id="old-price">$2857.142</span>
                          <span id="pro-price">$2142.857</span>
                      </figcaption>
                  </a>
              </figure>
          </div>

          <div class="col-lg-12 products">
              <figure>
                  <a href="">
                      <div class="onsale">
                          <span>-20%</span>
                      </div>
                      <img src="images/Promotion-6.png" alt="">
                      <div class="item-action">
                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                      </div>
                      <figcaption class="text-truncate">
                          <p class="text-truncate">ROWENTA HQ7112 Table Fan</p>

                          <span id="old-price">$233.333</span>
                          <span id="pro-price">$186.666</span>
                      </figcaption>
                  </a>
              </figure>
          </div>

          <div class="col-lg-12 products">
              <figure>
                  <a href="">
                      <div class="onsale">
                          <span>-15%</span>
                      </div>
                      <img src="images/Promotion-7.png" alt="">
                      <div class="item-action">
                          <a href="#" id="buy" title="Add to cart"><i class="fas fa-shopping-cart"></i></a>
                          <a href="#" id="quick-view" title="Quick view"><i class="fas fa-eye"></i><span> quick view</span></a>
                          <a href="#" id="compare" title="Compare"><i class="fas fa-random"></i></a>
                      </div>
                      <figcaption>
                          <p class="text-truncate">Kitchen From D'MESTIK ML288DKI</p>

                          <span id="old-price">$323.809</span>
                          <span id="pro-price">$275.238</span>
                      </figcaption>
                  </a>
              </figure>
          </div>
      </div>
      <div class="view-all">
          <a href="promotion.html">View All...</a>
      </div>
  </div>
</div>
