body {
  font-size: 14px;
  line-height: 1.42857143;
  color: #2f2f2f;
  font-family: Tahoma, Verdana, Geneva;
  background: #fff;
  position: relative;
  overflow-x: auto;
  -webkit-font-smoothing: antialiased;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}
.container-fluid {
  padding: 0px !important;
}
.container-fluid .totop {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2f2f2f;
  width: 40px;
  height: 40px;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  align-self: center;
  padding-top: 6px;
  opacity: 75%;
  color: rgb(185, 180, 180);
}
.container-fluid .totop:hover {
  opacity: 100%;
}
.container {
  padding: 0px !important;
}
#header {
  width: 100%;
  height: 129px;
  background-color: #182940;
}
.logo {
  width: 25%;
  padding-top: 5px;
  float: left;
}
* {
  box-sizing: border-box;
}
.search {
  float: left;
  width: 45%;
  height: 45px;
  position: relative;
  top: 2.5rem;
  left: 10rem;
  z-index: 5;
}
.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 75%;
  background: #f1f1f1;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
ul#ui-id-1 {
  z-index: 9999;
}
.search button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #13ea3e;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.search button:hover {
  background: #0b7dda;
}
.head-wrapper {
  position: fixed;
  z-index: 999;
  width: 100%;
}
.content-wrapper {
  position: relative;
  top: 169px;
}
/* Login and Cart */
.user-block {
  position: relative;
  float: left;
  width: 15%;
  height: 45px;
  top: 2.5rem;
  left: 14rem;
}
.user-block .login {
  height: 100%;
  float: left;
  margin-right: 0.5rem;
  text-align: center;
}
.user-block .cart {
  height: 100%x;
  float: left;
  text-align: center;
  width: 3rem;
  height: 100%;
  text-align: center;
  max-width: 50%;
}
.user-block a {
  display: block;
  padding: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 15px;
  height: 100%;
}
.user-block .login a:hover,
.user-block .cart a:hover {
  color: #0b7dda;
}
.user-block .login a {
  display: flex;
  justify-content: center;
}
.user-block .login a span {
  display: inline-block;
  padding-left: 0.5rem;
  font-size: 18px;
  align-self: center;
}
.user-block .cart a span {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #13ea3e;
  color: #ffffff;
  text-align: center;
  border-radius: 100%;
  position: relative;
  top: -2.5rem;
  left: 2rem;
  font-weight: bold;
  font-size: small;
}
.cart .cart-hover {
  width: 350px;
  position: absolute;
  top: 45px;
  left: -130px;
  background-color: #ffffff;
  visibility: hidden;
  padding-top: 10px;
}
.cart .cart-hover .selected-item table {
  width: 100%;
}
.cart .cart-hover .selected-item table tr {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(202, 200, 200);
}
.cart .cart-hover .selected-item table .si-pic {
}
.cart .cart-hover .selected-item table .si-text,
.cart .cart-hover .selected-item table .si-close {
  padding-left: 40px;
  text-align: left;
}
.cart .cart-hover .selected-item table .si-text p {
  color: #182940;
  font-size: 16px;
}
.cart .cart-hover .selected-total {
  width: 100%;
  padding: 20px;
}
.cart .cart-hover .selected-total span,
.cart .cart-hover .selected-total h5 {
  display: block;
}
.cart .cart-hover .selected-total span {
  text-transform: capitalize;
  font-size: 16px;
  color: #182940;
  float: left;
}
.cart .cart-hover .selected-total h5 {
  color: red;
  float: right;
}
.cart .selected-button {
  width: 100%;
  padding: 20px;
}
.cart .selected-button a {
  display: block;
  text-decoration: none;
  margin-top: 10px;
  height: 30px;
}
.cart .selected-button a.view-cart-btn {
  background-color: #13ea3e;
}
.cart .selected-button a.view-cart-btn:hover,
.cart .selected-button a.check-out-btn:hover {
  background-color: #0b7dda;
  color: white;
}
.cart .selected-button a.check-out-btn {
  background-color: #353132;
}
.cart:hover .cart-hover {
  visibility: visible;
}
/*Create dropdown menu*/
.menu {
  background-color: #f5f5f5f5;
}
#menu ul {
  list-style-type: none;
  text-align: left;
  padding-left: 0px;
  margin: 0px;
  z-index: 10;
}

#menu li {
  color: #182940;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
  text-align: center;
  position: relative;
}
#menu ul a.active {
  background-color: #13ea3e;
  color: #ffffff;
}
#menu a {
  text-decoration: none;
  color: #182940;
  display: block;
}
#menu a:hover {
  background: #13ea3e;
  color: #ffffff;
}
.product-menu-dropdown li,
.pages-menu-dropdown li {
  background-color: #f5f5f5f5;
  border: 1px solid #f5f5f5f5;
  border-top: none;
}
.product-menu-dropdown li a,
.pages-menu-dropdown li a {
  text-transform: capitalize;
}
.product-menu-dropdown,
.pages-menu-dropdown {
  display: none;
  position: absolute;
  left: 5px;
}
#menu li#product:hover .product-menu-dropdown {
  display: block;
}
#menu li#pages:hover .pages-menu-dropdown {
  display: block;
}
.menu-dropdown li {
  margin-left: 0 !important;
}
/*slider*/
.top-slider {
  width: 100%;
  position: relative;
}
.myslider img {
  width: 100%;
  height: 600px;
}
/* promotion */
.promotion {
  width: 100%;
  height: 470px;
}
.promotion .title {
  width: 100%;
  height: 3rem;
  background-color: #182940;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promotion .title a {
  color: #13ea3e;
  text-decoration: none;
  text-transform: uppercase;
}
.promotion .title a h3 {
  margin: 0;
}
.pro-slider {
  margin-top: 10px;
}
.pro-slider figure {
  margin: 10px;
  border: 1px solid rgb(192, 190, 190);
  text-align: center;
}
.pro-slider figure a {
  text-decoration: none;
  outline: none;
}
.pro-slider figure figcaption {
  text-align: left;
}
.pro-slider figure figcaption p {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 5px;
  margin: 0;
  color: black;
}
.pro-slider figure .onsale span {
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  padding-top: 2px;
}
.pro-slider figure figcaption span#pro-price {
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 15px;
}
.pro-slider figure figcaption span#old-price {
  font-size: 16px;
  text-decoration: line-through;
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}
.pro-slider figure .onsale {
  background-color: red;
  color: rgb(255, 255, 255);
  width: 50px;
  height: 25px;
  position: relative;
  top: 40px;
}
.pro-slider figure .onsale span {
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  padding-top: 2px;
}
.products .item-action {
  position: relative;
  opacity: 85%;
  height: 35px;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  display: block;
  width: 100%;
  visibility: hidden;
}
.products figure .item-action a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  float: left;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 5px;
}
.products .item-action a#buy {
  background-color: #13ea3e;
  width: 45px;
  height: 100%;
  margin-left: 17px;
}
.products .item-action a#quick-view {
  background-color: #182940;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: capitalize;
  width: 125px;
  padding-top: 5px;
}
.products .item-action a#quick-view span {
  font-size: 14px;
}
.products .item-action a#compare {
  background-color: #182940;
  height: 100%;
  width: 40px;
}
.promotion .products figure:hover .item-action {
  visibility: visible;
}
.item-action a#buy:hover,
.item-action a#quick-view:hover,
.item-action a#compare:hover {
  background-color: #0b7dda;
}
.pro-slider .slick-next::before,
.slick-prev::before {
  color: rgb(179, 176, 176);
}
.slick-next::before:hover,
.slick-prev::before:hover {
  color: rgb(78, 76, 76);
}
.slick-prev::before {
  font: 40px/1 "FontAwesome";
  content: "\f104";
}
.slick-next::before {
  font: 40px/1 "FontAwesome";
  content: "\f105";
}
.view-all {
  text-align: right;
}
.view-all a {
  text-decoration: none;
  color: #182940;
  font-style: italic;
  display: block;
  margin-top: -5px;
}
.view-all a:hover {
  color: #0b7dda;
}
/* best selling product */
.best-selling {
  width: 100%;
  height: 450px;
  margin-top: 1rem;
}
.best-selling .title {
  width: 100%;
  height: 3rem;
  background-color: #182940;
  display: flex;
  align-items: center;
  justify-content: center;
}
.best-selling .title a {
  color: #13ea3e;
  text-decoration: none;
  text-transform: uppercase;
}
.best-selling .title a h3 {
  margin: 0;
}
.bselling-slider {
  margin-top: 10px;
}
.bselling-slider figure {
  margin: 10px;
  border: 1px solid rgb(192, 190, 190);
}
.bselling-slider figure a {
  text-decoration: none;
  outline: none;
}
.bselling-slider figure figcaption {
  text-align: left;
  margin-top: 10px;
}
.best-selling .products .item-action {
  position: relative;
  opacity: 85%;
  height: 35px;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  display: block;
  width: 100%;
  visibility: hidden;
}
.best-selling .products figure .item-action a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  float: left;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 5px;
}
.best-selling .products .item-action a#buy {
  background-color: #13ea3e;
  width: 45px;
  height: 100%;
  margin-left: 17px;
}
.best-selling .products .item-action a#quick-view {
  background-color: #182940;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  text-transform: capitalize;
  width: 125px;
  padding-top: 5px;
}
.best-selling .products .item-action a#quick-view span {
  font-size: 14px;
}
.best-selling .products .item-action a#compare {
  background-color: #182940;
  height: 100%;
  width: 40px;
}
.best-selling .products figure:hover .item-action {
  visibility: visible;
}
.best-selling .item-action a#buy:hover,
.best-selling .item-action a#quick-view:hover,
.best-selling .item-action a#compare:hover {
  background-color: #0b7dda;
}
.bselling-slider figure figcaption p {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 5px;
  margin: 0;
  color: black;
}
.bselling-slider figure figcaption span {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 3px;
}
.bselling-slider figure figcaption span#pro-price {
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 15px;
}
.bselling-slider .slick-next::before,
.slick-prev::before {
  color: rgb(179, 176, 176);
}
.slick-next::before:hover,
.slick-prev::before:hover {
  color: rgb(78, 76, 76);
}
.slick-prev::before {
  font: 40px/1 "FontAwesome";
  content: "\f104";
}
.slick-next::before {
  font: 40px/1 "FontAwesome";
  content: "\f105";
}
.view-all {
  text-align: right;
}
.view-all a {
  text-decoration: none;
  color: #182940;
  font-style: italic;
  display: block;
  margin-top: -5px;
}
.view-all a:hover {
  color: #0b7dda;
}
/* categories menu */
.cate-block {
  width: 100%;
  height: 165px;
  background-color: #182940;
  margin-bottom: 25px;
  padding-top: 5px;
}
.cate-block .cate-menu-wrapper {
  height: 90px;
  background-color: #ffffff;
  border-radius: 40px;
}
.cate-block h5 {
  color: #ffffff;
  text-transform: uppercase;
  text-indent: 10px;
}
.cate-block .cate-menu div {
  width: 25%;
  float: left;
  background-color: #ffffff;
  height: 90px;
}
.cate-block .cate-menu .lightning {
  text-align: center;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  border-right: 1px solid rgb(182, 180, 180);
}
.cate-block .cate-menu a {
  display: block;
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 25px;
  padding-top: 10px;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}
.cate-block .cate-menu i {
  position: relative;
  top: 7px;
}
.cate-block .cate-menu .appliances,
.fans {
  text-align: center;
  border-right: 1px solid rgb(182, 180, 180);
}
.cate-block .cate-menu .water-heater {
  text-align: center;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.cate-block .cate-menu .appliances:hover a,
.cate-block .cate-menu .fans:hover a {
  background-color: #0b7dda;
  color: #ffffff;
}
.cate-block .cate-menu .lightning:hover a {
  background-color: #0b7dda;
  color: #ffffff;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.cate-block .cate-menu .water-heater:hover a {
  background-color: #0b7dda;
  color: #ffffff;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

/* deal of the week  */

.deal-wrapper {
  height: 600px;
  background-image: url("./assets/images/dow-bg.png");
  background-size: contain;
  color: #fff;
  margin-bottom: 25px;
  border-radius: 20px;
  background-repeat: no-repeat;
}
.deal-content {
  float: left;
  text-align: center;
  padding-top: 45px;
  padding-left: 3rem;
}

.deal-content h1 {
  margin-top: 2rem;
  color: #13ea3e;
  text-transform: uppercase;
  font-weight: bolder;
}
.deal-content h1 i {
  color: rgb(233, 121, 17);
}
.deal-content .underline {
  margin-top: 10px;
  height: 1px;
  width: 165px;
  border-top: 3px groove rgb(172, 169, 169);
  margin-left: 36%;
}
.deal-content p {
  font-size: 30px;
  text-transform: capitalize;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.deal-content h1#deal-price {
  color: red;
  font-weight: bolder;
}
.deal-content h1#deal-price sub {
  color: #bdbec0;
  font-weight: lighter;
  text-transform: capitalize;
}
.deal-content .time-countdown {
  height: 80px;
  width: 700px;
  margin: 40px auto;
  padding-left: 120px;
}
.deal-content .time-countdown div {
  float: left;
  width: 15%;
  border-radius: 25%;
  background-color: rgb(255, 255, 255);
  margin-right: 25px;
  padding-top: 5px;
}
.deal-content .time-countdown div h5 {
  color: #353132;
  font-size: 16px;
}
.deal-content .time-countdown div #day,
.deal-content .time-countdown div #hour,
.deal-content .time-countdown div #minute,
.deal-content .time-countdown div #second {
  color: #e06e62;
  font-weight: bold;
}
.deal-content a.shop-button {
  background-color: #13ea3e;
  display: block;
  text-decoration: none;
  width: 125px;
  height: 50px;
  text-align: center;
  position: relative;
  left: 300px;
  border-radius: 30px;
}
.deal-content a.shop-button span {
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  padding-top: 15px;
  font-weight: bold;
  font-size: 16px;
}
.deal-content a.shop-button:hover {
  background-color: #0b7dda;
}

/* popular */
.popular {
  width: 100%;
  margin-top: 2rem;
}
.popular .title {
  width: 100%;
  height: 3rem;
  background-color: #182940;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular .title a {
  color: #13ea3e;
  text-decoration: none;
  text-transform: uppercase;
}
.popular .title a h3 {
  margin: 0;
}
.popular .container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.popular .row {
  display: none;
}
.product-item {
  width: 20%;
  display: block;
  float: left;
}
.popular .product-item figure,
.related-pro .product-item figure {
  border: 1px solid gainsboro;
  width: 100%;
  text-align: center;
}
.popular .product-item figure .onsale,
.related-pro .product-item figure .onsale {
  background-color: red;
  color: rgb(255, 255, 255);
  width: 50px;
  height: 25px;
  position: relative;
  top: 40px;
}
.popular .product-item figure .onsale span,
.related-pro .product-item figure .onsale span {
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  padding-top: 2px;
}
.popular .product-item figure figcaption span#old-price,
.related-pro .product-item figure figcaption span#old-price {
  font-size: 16px;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 10px;
}
.popular .product-item figure img {
  z-index: -5;
}
.product-item .item-action {
  position: relative;
  opacity: 85%;
  height: 35px;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  display: block;
  width: 100%;
  visibility: hidden;
}
.product-item a {
  text-decoration: none;
}
.product-item .item-action a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  float: left;
  border-radius: 10px;
  padding-top: 5px;
}
.product-item .item-action a#buy {
  background-color: #13ea3e;
  width: 15%;
  height: 100%;
  margin-left: 3%;
}
.product-item .item-action a#quick-view {
  background-color: #182940;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  text-transform: capitalize;
  width: 60%;
  padding-top: 5px;
}
.product-item .item-action a#quick-view span {
  font-size: 14px;
}
.product-item .item-action a#compare {
  background-color: #182940;
  height: 100%;
  width: 15%;
}
.item-action a#buy:hover,
.item-action a#quick-view:hover,
.item-action a#compare:hover {
  background-color: #0b7dda;
}
.popular .product-item figure figcaption,
.related-pro .product-item figure figcaption {
  text-align: left;
  margin-left: 10px;
}
.popular .product-item figure figcaption p,
.related-pro .product-item figure figcaption p {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  color: black;
}
.product-item figure figcaption span {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 5px;
}

.popular .product-item figure figcaption span#pro-price,
.related-pro .product-item figure figcaption span#pro-price {
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 18px;
  margin-right: 15px;
}
.popular .product-item figure:hover .item-action {
  visibility: visible;
}
#load-more {
  background-color: #182940;
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 220px;
  height: 40px;
  text-align: center;
  margin: 10px auto;
  opacity: 90%;
}
#load-more span {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 6px;
}
#load-more:hover {
  background-color: #0b7dda;
}

/* user benefit */

.user-benefit {
  height: 150px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.user-benefit .row {
  width: 900px;
  border: 1px solid grey;
  height: 145px;
  margin: 0 auto;
  border-radius: 40px;
}
.user-benefit .row .bnf-block {
  text-align: center;
  padding-top: 7px;
  border-right: 1px solid grey;
}
.user-benefit .row .bnf-block:last-child {
  border: none;
}
.user-benefit .row .bnf-block h4 {
  text-transform: capitalize;
  color: rgb(77, 74, 74);
}

/* brand */
.brand {
  height: 150px;
  margin-bottom: 20px;
}
.brand .row {
  padding-bottom: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align: center;
  padding-top: 20px;
}

/* footer */
.footer {
  width: 100%;
  height: 500px;
}
.footer .footer-banner {
  width: 100%;
  background-color: #182940;
  height: 100px;
}
.footer .footer-banner .ftbanner-content {
  text-align: center;
}
.footer .footer-banner .email-icon {
  float: left;
  margin-top: 20px;
}
.footer .footer-banner h3 {
  display: block;
  float: left;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 30px 40px 0px 0px;
}
.footer .footer-banner .einput-group {
  float: left;
  width: 45%;
  margin-top: 30px;
  height: 40px;
}
.footer .footer-banner .einput-group input {
  width: 80%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  border: 1px solid rgb(94, 92, 92);
}
.footer .footer-banner .einput-group button {
  width: 19%;
  height: 100%;
  color: white;
  background-color: red;
  text-transform: capitalize;
  font-weight: bold;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  margin-left: -5px;
}
.footer .footer-banner .einput-group button:hover {
  background: #0b7dda;
}
.footer .footer-content {
  margin-top: 40px;
  line-height: 20px;
}
.footer .footer-content .row h3 {
  text-transform: capitalize;
  margin-bottom: 40px;
}
.footer .footer-content .row .contact-info p {
  font-size: 16px;
  line-height: 22px;
}
.footer .footer-content .contact-info a {
  font-size: 17px;
  text-decoration: none;
  font-style: italic;
  color: #52709b;
}
.link {
  padding-top: 10px;
}
.link a {
  padding-right: 5px;
}
.footer .footer-content .find-it-fast,
.customer-care {
  text-align: center;
}
.footer .footer-content ul {
  list-style: none;
  display: block;
  margin-left: 30%;
  text-align: left;
}
.footer .footer-content ul li {
  display: block;
  padding-bottom: 20px;
}
.footer .footer-content ul li a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: rgb(26, 25, 25);
  opacity: 90%;
}

/*
*******************************************
OTHER PAGES STYLES
*********************************************
*/

/* -------------------- LOGIN ---------------- */
.login-section {
  height: 600px;
}
/* breadcrumb */
.breadcrumb-section {
  width: 100%;
  height: 40px;
  background-color: #182940;
  font-size: 16px;
}

.breadcrumb li {
  padding-top: 6px;
}
.breadcrumb li.active {
  color: #13ea3e;
}
.breadcrumb li a {
  color: #ffffff;
  text-decoration: none;
}
/*  */
.form-wrapper {
  margin: 0px auto;
}
.login-section .form-wrapper h2 {
  display: block;
  text-transform: uppercase;
  margin: 40px 0 40px 42%;
}
.register-section .form-wrapper h2 {
  display: block;
  text-transform: uppercase;
  margin: 40px 0 40px 40%;
}
.form-wrapper form .log-input-group {
  margin-bottom: 25px;
}
.form-wrapper form .log-input-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 15px;
  color: #676768;
}
.form-wrapper form .log-input-group input {
  display: block;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid rgb(211, 210, 210);
}
.form-wrapper form .check-pass {
  height: 30px;
  margin-bottom: 20px;
}
.form-wrapper form .check-pass input {
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 3px;
}
.form-wrapper form .check-pass label {
  display: block;
  float: left;
  color: #666668;
}
.form-wrapper form .check-pass a.forget-pass {
  display: block;
  float: right;
  color: #666668;
  text-decoration: none;
}
.form-wrapper button {
  color: #ffffff;
  background-color: #13ea3e;
  border: 1px solid rgb(211, 210, 210);
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
.form-wrapper button:hover {
  background-color: #0b7dda;
}
.form-wrapper .register-switch,
.form-wrapper .login-switch {
  text-align: center;
  height: 40px;
  margin-top: 30px;
}
.form-wrapper .register-switch #res-switch-link,
.form-wrapper .login-switch #log-switch-link {
  color: #666668;
  text-transform: uppercase;
  font-size: 18px;
}
.form-wrapper .register-switch #res-switch-link:hover,
.form-wrapper .login-switch #log-switch-link:hover {
  color: #0b7dda;
}
.login-section .welcome-section,
.register-section .welcome-section {
  margin: 0px auto;
  margin-top: 50px;
  color: #cacad1;
}
.login-section .welcome-section .welcome-text,
.register-section .welcome-section .welcome-text {
  text-align: center;
}

/*  product section  */
.product {
  padding: 20px 0px;
}
.filter-widget {
  margin-bottom: 30px;
}

.filter-widget .fw-title {
  color: #182940;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filter-widget .filter-categories li {
  list-style: none;
}

.filter-widget .filter-categories li a {
  display: inline-block;
  color: #636363;
  font-size: 16px;
  line-height: 39px;
  text-decoration: none;
}
.filter-widget .form-check {
  margin-left: 2rem;
  margin-top: 1rem;
  color: #636363;
}
.filter-widget .min-price,
.filter-widget .max-price {
  width: 20%;
  float: left;
  margin-right: 10px;
  margin-left: 5px;
}
.filter-widget .min-price input,
.filter-widget .max-price input {
  width: 100%;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
}
.filter-widget .currency-unit {
  font-size: 20px;
  font-weight: 600;
  color: #636363;
  float: left;
  position: relative;
  top: -3px;
}
.filter-widget #filter-btn {
  display: block;
  clear: both;
  position: relative;
  top: 20px;
  left: 5px;
  width: 140px;
  background-color: #13ea3e;
  color: #ffffff;
  border: 1px solid gainsboro;
  font-size: 16px;
  font-weight: 500;
}

.price-sorting {
  width: 50%;
  margin-top: 20px;
  float: left;
  margin-right: 40px;
}
.show {
  width: 35%;
  margin-top: 20px;
  float: left;
  clear: none;
}
.show-text {
  margin-top: 20px;
  font-size: 16px;
  color: #636363;
}
.show-text p {
  display: block;
  margin-top: 8px;
  margin-left: 18%;
}
.product-list {
  width: 100%;
  margin-top: 40px;
}
.pl-items {
  width: 30%;
}

.pl-items figure {
  border: 1px solid rgb(192, 190, 190);
}
.pl-items figure a {
  text-decoration: none;
  outline: none;
}
.pl-items img {
  position: relative;
  top: 15px;
  display: block;
}
.pl-items figure figcaption {
  text-align: left;
  margin-top: 10px;
  padding-left: 3%;
}
.pl-items figure figcaption p {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  color: black;
}
.pl-items .item-action {
  position: relative;
  opacity: 85%;
  height: 35px;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
  display: block;
  width: 100%;
  visibility: hidden;
}
.pl-items figure .item-action a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  float: left;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 5px;
}
.pl-items .item-action a#buy {
  background-color: #13ea3e;
  width: 45px;
  height: 100%;
  margin-left: 7%;
}
.pl-items .item-action a#quick-view {
  background-color: #182940;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
  text-transform: capitalize;
  width: 125px;
  padding-top: 5px;
}
.pl-items .item-action a#quick-view span {
  font-size: 14px;
}
.pl-items .item-action a#compare {
  background-color: #182940;
  height: 100%;
  width: 40px;
}
.pl-items figure:hover .item-action {
  visibility: visible;
}
.pl-items .item-action a#quick-view:hover,
.pl-items .item-action a#buy:hover,
.pl-items .item-action a#compare:hover {
  background-color: #0b7dda;
}
.pl-items figure figcaption span#pro-price {
  color: rgb(88, 88, 88);
  font-weight: bold;
  font-size: 18px;
  margin-right: 15px;
}
.product-lm {
  display: block;
  background-color: #182940;
  width: 150px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  left: 356px;
  top: 10px;
}
.product-lm:hover {
  background-color: #0b7dda;
  color: #ffffff;
}
.product-lm span {
  display: block;
  padding-top: 6px;
}

/* cate pages  */
.filter-widget .filter-categories li a.disabled {
  pointer-events: none;
  cursor: none;
  opacity: 60%;
}
.page-title {
  margin-top: 15px;
}
.page-title h4 {
  font-weight: 600;
  color: #182940;
}
/*page contact us*/
.map {
  padding-top: 50px;
  padding-bottom: 30px;
}
.contact {
  margin-top: 30px;
}
.contact_info {
  margin-top: 50px;
}
.contact i {
  float: left;
  width: 8%;
  font-size: 25px;
}
.contact p {
  font-size: 20px;
  width: 90%;
  padding-left: 0px;
}
.contact_info {
  margin-left: 20px;
}
.contact_info h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.contact a {
  text-decoration: none;
  color: #2f2f2f;
}
.contact a:hover {
  color: red;
}

.form-contact input {
  width: 100%;
}
.form-contact input,
textarea {
  padding: 5px;
  margin: 5px;
  border: 1px solid #dddddd;
}
.valid-form {
  width: 49%;
}
#telephone,
#firstname {
  float: left;
}
#text-address,
#email-contact {
  float: right;
}

/*.form-contact #firstname,#email-contact,#telephone,#text-address{*/
/*    width: 48%;*/
/*}*/
.form-contact textarea {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}
.form-contact #btn-submit {
  width: 50%;
  background-color: #13ea3e;
  color: #ffffff;
  font-weight: bold;
  margin-left: 25%;
}
#btn-submit:hover {
  outline: none;
  opacity: 1;
  color: #fff;
  box-shadow: inset 0 0 0 100px rgb(0 0 0 / 20%);
}
/*validate form-contact*/
input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid #dddddd;
}
form .error {
  color: #ff0000 !important;
}

/* introduction section */

.introduce .intro-content {
  text-align: left;
}
.intro-top {
  padding-top: 50px;
}
.intro-top #intro-top-img {
  position: relative;
  top: 90px;
  left: 100px;
}
.introduce .intro-content .intro-tit {
  width: 45%;
  text-align: center;
}
.introduce .intro-content .intro-tit h2,
.introduce .intro-content .intro-tit h6 {
  text-transform: capitalize;
}
.introduce .intro-content .intro-tit span {
  color: #13ea3e;
  font-weight: bolder;
}
.introduce .intro-content .intro-text {
  width: 70%;
  margin: 40px auto;
  color: #515152;
}
.introduce .intro-content .intro-text p {
  font-size: 17px;
  line-height: 30px;
}
.introduce .leadership {
  margin-top: 50px;
}
.introduce .team,
.introduce .work,
.introduce .investor {
  margin-top: 100px;
}
.introduce .leadership .lead-content,
.introduce .team .team-content,
.introduce .work .work-content,
.introduce .investor .investor-content {
  margin: 0px auto;
}
.introduce .leadership .lead-content .lead-tit,
.introduce .team .team-content .team-tit,
.introduce .investor .investor-content .investor-tit {
  text-align: center;
}
.introduce .leadership .lead-content .lead-tit span,
.introduce .team .team-content .team-tit span,
.introduce .work .work-content .work-tit span,
.introduce .investor .investor-content .investor-tit span {
  color: #13ea3e;
  font-weight: bolder;
}
.introduce .leadership .lead-block {
  margin-top: 60px;
  width: 260px;
  color: #555f77;
  float: left;
  margin-right: 50px;
  text-align: center;
  margin-left: 60px;
  box-shadow: 2px 3px #e2e2e2;
  height: 425px;
}
.introduce .leadership .lead-block p,
.introduce .team .team-block p {
  margin: 0px;
}
.introduce .leadership .lead-block figure h4,
.introduce .team .team-block figure h4 {
  margin-top: 15px;
}
.introduce .leadership .lead-block .lead-divider {
  border-bottom: 1px solid #3b4355;
  width: 50px;
  margin: 0px auto;
}
.introduce .leadership .lead-block .lead-intro {
  margin-top: 15px;
}
.introduce .leadership .lead-block .lead-intro p {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
.introduce .team .team-block {
  margin-top: 80px;
  width: 30%;
  float: left;
  margin-left: 32px;
  text-align: center;
  color: #555f77;
}
.introduce .team .team-block img {
  border-radius: 50%;
}
.introduce .work .work-block {
  float: left;
  margin: 22px;
}
.introduce .work .work-content .work-tit {
  text-align: center;
  margin-bottom: 60px;
}
.introduce .work .work-wrapper {
  padding-left: 35px;
}

/* product detail */
.pdt-block {
  padding-top: 16px;
}
.pdt-left {
  width: 45%;
  float: left;
}
.product-img img {
  width: 440px;
}
.slick-next::before {
  color: rgb(179, 176, 176);
}
.product-detailed {
  width: 45%;
  float: left;
  margin-left: 5%;
}
.pdt-action div {
  float: left;
}
.product-detailed div {
  margin-top: 10px;
}
.product-detailed .pdt-name h4 {
  color: #3b4355;
}
.product-detailed .pdt-price {
  font-size: 16px;
}
.product-detailed .pdt-price span {
  display: inline-block;
  margin-left: 20px;
}
.product-detailed .pdt-price #pdt-old-price {
  color: #636363;
  text-decoration: line-through;
  font-size: 26px;
}
.product-detailed .pdt-price #pdt-new-price {
  color: red;
  font-size: 30px;
}
.product-detailed .pdt-model {
  color: #666668;
  font-size: 18px;
}
.product-detailed .pdt-warranty {
  font-size: 16px;
  color: #666668;
}
.product-detailed .pdt-warranty span {
  font-size: 20px;
  color: #182940;
}
.product-detailed .pdt-status {
  color: #13ea3e;
}
.product-detailed .download a {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  color: #353132;
  text-decoration: none;
  font-weight: 550;
  opacity: 80%;
}
.product-detailed .download a:hover {
  opacity: 100%;
  text-decoration: underline;
}
.product-detailed .pdt-star {
  color: orange;
  cursor: pointer;
}
.product-detailed .quantity {
  width: 100px;
  border: 1px solid #bdbec0;
  text-align: center;
}
.product-detailed .quantity input {
  width: 30px;
  text-align: center;
  border: none;
}
.product-detailed .quantity button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #636363;
  opacity: 70%;
}
.product-detailed .quantity button:hover {
  opacity: 100%;
}
.product-detailed .pdt-action .buy-now {
  background-color: red;
  width: 150px;
  padding: 5px;
  text-align: center;
}
.product-detailed .pdt-action .buy-now a,
.product-detailed .pdt-action .add-to-cart a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
}
.product-detailed .pdt-action .add-to-cart {
  background-color: #2f2f2f;
  width: 150px;
  margin-left: 20px;
  text-align: center;
  padding: 5px;
}
.product-detailed .pdt-action .buy-now:hover,
.product-detailed .pdt-action .add-to-cart:hover {
  background-color: #0b7dda;
}
.cus-tab {
  margin-top: 50px;
}
.cus-tab .tab {
  width: 80%;
  margin-bottom: 35px;
}
.cus-tab .tab button {
  background-color: transparent;
  border: 1px solid #cacad1;
  padding: 15px;
  width: 33.5%;
  margin-left: -5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #676768;
}
.cus-tab .tab button.active {
  border-bottom: 5px solid #13ea3e;
}
.cus-tab #des {
  border-top: 1px solid #cacad1;
  padding: 10px;
  border-bottom: 1px solid #cacad1;
}
.cus-tab #des h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}
.cus-tab #des p {
  font-size: 18px;
  color: #666668;
}
.cus-tab .tabcontent {
  display: none;
  width: 80.5%;
  margin-left: -5px;
}
.cus-tab #spec th,
.cus-tab #spec td {
  border: 1px solid #e7e7ec;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
#review {
  margin-top: -10px;
}
.cus-care {
  margin-top: 40px;
  height: 100px;
}
.cus-care img {
  border-radius: 100%;
  display: block;
  float: left;
}
.cus-care .cus-info {
  margin-left: 120px;
  padding-top: 10px;
}
.cus-care .cus-info .fb-star {
  color: orange;
  margin-bottom: 5px;
  cursor: pointer;
}
.cus-care .cus-info span {
  font-size: 16px;
  color: #676768;
  letter-spacing: 2px;
}
.comment-leave {
  margin-top: 50px;
}
.comment-leave h2 {
  margin-bottom: 50px;
}
.comment-leave form input {
  width: 40%;
  height: 40px;
  padding-left: 5px;
}
.comment-leave form #input-text {
  margin-right: 5%;
}
.comment-leave form textarea {
  margin-top: 40px;
  margin-left: 0px;
}
.comment-leave form button {
  color: white;
  background-color: #13ea3e;
  font-size: 18px;
  margin-top: 20px;
  border: none;
  padding: 10px;
}
.related-pro {
  margin: 60px 0px;
}
.related-pro h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: bolder;
  color: #676768;
}
/*shopping cart*/
.yourCart {
  display: block;
  overflow: hidden;
  padding-top: 10px;
}
.buy-more {
  float: left;
  overflow: hidden;
  font-size: 14px;
  color: #288ad6;
  line-height: 16px;
  padding: 10px;
}
.yourCart a {
  text-decoration: none;
}
.yourCart span {
  float: right;
  padding: 9px 10px;
}
.middleCart {
  display: block;
  background: #fff;
  box-shadow: 0 0 18px rgb(0 0 0 / 20%);
  border-radius: 2px;
}
.listing-cart {
  display: flex;
  flex-flow: column wrap;
  padding: 0px;
}
ul {
  list-style: none;
}
.listing-cart .product-item {
  display: block;
  padding: 10px 30px;
  width: 100%;
  box-sizing: border-box;
}
.listing-cart .img-product a,
.listing-cart .img-product a img {
  display: block;
  overflow: hidden;
}
.listing-cart .img-product a img {
  width: 75px;
  border: 1px solid #999;
}
.footCart {
  display: block;
  overflow: hidden;
  color: #999;
  font-size: 11px;
  text-align: center;
  padding: 20px 0;
}
.listing-cart .infosp .name-product {
  display: block;
}
.listing-cart .product-item .infosp {
  display: block;
  margin-left: 95px;
}
.listing-cart .name-product a {
  width: 70%;
  font-size: 14px;
  color: #333;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.listing-cart .name-product span {
  float: right;
  color: #f30c28;
  font-size: 14px;
  text-align: right;
  margin-bottom: 2px;
}
.listing-cart .choose-color span {
  float: left;
  color: #666;
  font-size: 12px;
  padding: 6px 0 0;
}
.choosenumber {
  float: right;
  overflow: hidden;
  position: relative;
  width: 100px;
  border: 1px solid #dfdfdf;
  background: #fff;
  border-radius: 3px;
  line-height: 30px;
  font-size: 14px;
  color: #333;
  text-align: center;
  clear: both;
}
.choosenumber .minus {
  float: left;
  border-right: 1px solid #dfdfdf;
  background: #fff;
  width: 32%;
  height: 30px;
  position: relative;
  pointer-events: none;
  cursor: pointer;
}
.choosenumber .number {
  font-size: 14px;
  color: #333;
  float: left;
  width: 33%;
  height: 30px;
  text-align: center;
}
.choosenumber .plus {
  float: right;
  border-left: 1px solid #dfdfdf;
  background: #fff;
  width: 32%;
  height: 30px;
  position: relative;
  cursor: pointer;
}
.area-total {
  display: block;
  overflow: visible;
  border-top: 1px solid #ececec;
  padding: 10px 30px;
}
.area-total .total-provisional {
  display: block;
  overflow: hidden;
  padding-bottom: 10px;
}
.area-total .total-provisional span {
  float: left;
  color: #333;
}
.area-total .total-provisional span:nth-child(2) {
  float: right;
}
.area-total .total-price {
  display: block;
  overflow: hidden;
  width: 100%;
}
.area-total .total-price strong {
  float: left;
  color: #333;
}
.area-total .total-price strong:nth-child(2) {
  float: right;
  color: #f30c28;
}
.infor-customer {
  display: block;
  overflow: hidden;
  border-top: 1px solid #d1d1d1;
  padding: 10px 30px;
}
.infor-customer h4 {
  display: block;
  overflow: hidden;
  font-size: 14px;
  text-transform: uppercase;
  color: #288ad6;
}
.infor-customer .form-customer,
.texterror {
  display: block !important;
}
.infor-customer .form-customer {
  display: none;
  overflow: hidden;
  padding: 10px 0 0;
}
.form-customer .sex-customer {
  display: block;
  overflow: hidden;
}
.form-customer .sex-customer span {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #333;
  margin: -5px 15px 0px 5px;
  cursor: pointer;
}
.form-customer .fillinform {
  display: block;
  overflow: hidden;
  padding: 10px 0;
}
.form-customer .fillinform .fillname {
  float: left;
  width: 49%;
  margin: 0 1% 0 0;
}
.form-customer .fillinform .fillname input {
  display: block;
  overflow: hidden;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 10px;
  color: #333;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
}
.anotheroption {
  display: block;
  /*border-bottom: 1px solid #d1d1d1;*/
}
.anotheroption ul,
.anotheroption ul li {
  display: block;
  overflow: hidden;
  padding-left: 0px;
}
.anotheroption ul li {
  padding: 10px 0 0;
}
.anotheroption ul li label {
  display: block;
  overflow: hidden;
  color: #333;
  cursor: pointer;
}
.anotheroption ul li input {
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px 5px 0;
}
.cartnew-select {
  background-position: -80px 0;
  width: 16px;
  height: 16px;
}
.anotheroption .infophoneanother .phoneanother.active,
.anotheroption li .infocompany.active {
  display: block;
}
.anotheroption li form {
  border: 1px solid #288ad6;
  padding: 10px 10px 3px;
  border-radius: 4px;
  background: #f6f6f6;
  margin: 10px 0 0;
  position: relative;
}
.anotheroption form .fillinput {
  overflow: hidden;
  margin-right: 5px;
}
.anotheroption input {
  /*display: block;*/
  overflow: hidden;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 7px;
}
.infocompany {
  border: 1px solid #288ad6;
  padding: 10px 10px 3px;
  border-radius: 4px;
  background: #f6f6f6;
  margin: 10px 0 0;
  position: relative;
}
.icon-caret {
  color: #288ad6;
  position: relative;
  top: -29px;
  right: -5px;
}
.gh-se3t1b {
  padding: 10px;
  margin-bottom: 10px;
}
.clearfix {
  zoom: 1;
}
.gh-se3vsa {
  width: 100%;
  /*max-width: 330px;*/
  margin: 0 auto;
}
.gh-se3bank {
  padding: 15px 0 0;
  margin: 0 -4px;
}
.gh-se3vsa li {
  /*width: 33.333%!important;*/
}
.gh-se3bank li {
  float: left;
  width: 16.6666667%;
  padding: 0 4px;
  margin-bottom: 6px;
}
.gh-se3bank li label {
  padding: 3px;
}
.gh-se3bank li input {
  display: none;
}
.gh-se3bank li input:checked ~ span {
  border: 3px solid #d0011b;
}
.gh-se3bank li span {
  display: block;
  text-align: center;
  height: 60px;
  line-height: 60px;
  border: 1px dashed #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.gh-se3bank li span img {
  max-height: 47px;
}
.finaltotal,
.finaltotal .total-feedeli {
  display: block;
  overflow: hidden;
}
.finaltotal {
  padding: 20px 30px;
}
.finaltotal .totalmoney {
  display: block;
  overflow: hidden;
  padding: 10px 0;
}
.finaltotal .totalmoney strong {
  float: left;
  color: #333;
}
.finaltotal .totalmoney strong:nth-child(2) {
  float: right;
  color: #f30c28;
}
.finaltotal button {
  color: #fff;
  height: 50px;
  margin: 10px auto;
  width: 100%;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background: linear-gradient(180deg, #f79429, #f7712e);
}

/* Slider */

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  display: table;

  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
