<div class="popular">
  <div class="title">
      <a href="#"><h3>Popular</h3></a>
  </div>
  <div class="container">
      <div class="row row-items">
          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-1.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">GE LED Outdoor Light Bulb</p></a>
                      <span id="pro-price">$9.38</span>
                  </figcaption>
              </figure>
          </div>
          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-2.png" alt=""/>
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Alaska RL-99 Hot And Cold Water Plant</p></a>
                      <span id="pro-price">$179.047</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-3.png" alt=""/>
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Tefal DR8085 Hand Steam Iron</p></a>
                      <span id="pro-price">$75.1</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-4.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">ARISTON ANDRIS2 LUX Water Heater</p></a>
                      <span id="pro-price">$180.118</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-5.png" alt=""/>
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Multi-drive electric drive</p></a>
                      <span id="pro-price">$6,728</span>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="row row-items">
          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-6.png" alt=""/>
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Robot vacuum cleaner Liectroux C30B</p></a>
                      <span id="pro-price">$267.857</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-7.png" alt=""/>
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Lasko Adjustable-Height Fan</p></a>
                      <span id="pro-price">$23.984</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-8.png" alt=""/>
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Panasonic MX-V310 Blender</p></a>
                      <span id="pro-price">$58.0</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-9.png" alt=""/>
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">HONEYWELL R4158WHI</p></a>
                      <span id="pro-price">$5.46</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-10.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">12V 1157 Led Bulb</p></a>
                      <span id="pro-price">3.00$</span>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="row row-items">
          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-11.png" alt=""/>
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Standard Cruiser Refresh Ceiling Fan</p></a>
                      <span id="pro-price">$228.571</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-12.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Philips A19 LED light bulbs</p></a>
                      <span id="pro-price">11.16$</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-13.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Ferroli Verdi-AE 20 heater</p></a>
                      <span id="pro-price">$189.04</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-14.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Hair dryer Philips BHD170 / 40</p></a>
                      <span id="pro-price">$71.428</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-15.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Mini heating fan FujiE CH-1600RM</p></a>
                      <span id="pro-price">$86.666</span>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="row row-items">
          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-16.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">BM lamp 135W</p></a>
                      <span id="pro-price">$15.238</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-17.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">The power outlet has the Sino Amigo SW-1UAS USB port</p></a>
                      <span id="pro-price">$16.666</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-18.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Sunhouse SHR76210CK hot and cold water purifier</p></a>
                      <span id="pro-price">$400</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-19.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Air-cooled fan cooled by steam Kozaika 60l</p></a>
                      <span id="pro-price">$276.190</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-20.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">2 × 2.5 Soft double Cadisun wire</p></a>
                      <span id="pro-price">$75</span>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="row row-items">
          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-21.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Induction cooker Mijia A1</p></a>
                      <span id="pro-price">$35.714</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-22.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Electrolux Inverter 8 Kg Washing Machine EWF8025CQSA</p></a>
                      <span id="pro-price">$465.666</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-23.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Super speed Philips 1.2 liter HD9303</p></a>
                      <span id="pro-price">$580</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-24.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Blender BLENDTEC CONNOISSEUR 825</p></a>
                      <span id="pro-price">$1.661</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-25.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Philips GC1756 Steam Iron Iron 2000W</p></a>
                      <span id="pro-price">$94.761</span>
                  </figcaption>
              </figure>
          </div>
      </div>
      <div class="row row-items">
          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-26.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Rossi Pisa heater 20 liter RPS 20SQ</p></a>
                      <span id="pro-price">$96.666</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-27.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Ceiling fan 6 blades Panasonic F-70ZBP</p></a>
                      <span id="pro-price">$790.476</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-28.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Cuckoo CRP-LHTR1010FB High Frequency Rice Cooker</p></a>
                      <span id="pro-price">$761.904</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-29.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">Wall fan Asia Vina L16022</p></a>
                      <span id="pro-price">$45.238</span>
                  </figcaption>
              </figure>
          </div>

          <div class="product-item">
              <figure>
                  <a href="">
                      <img src="assets/images/Popular-30.png" alt="">
                  </a>
                  <figcaption>
                      <a href=""><p class="text-truncate">BlueStone EGB 7408 smoke-free electric grill</p></a>
                      <span id="pro-price">$40.476</span>
                  </figcaption>
              </figure>
          </div>
      </div>
  </div>

</div>
